@font-face {
  font-family: play;
  src: url(./PlaywriteUSTrad-VariableFont_wght.woff2);
}

@font-face {
  font-family: ralebold;
  src: url(./Raleway-Bold.woff2);
}

@font-face {
  font-family: rale;
  src: url(./Raleway-Thin.woff2);
}

@font-face {
  font-family: rob;
  src: url(./Roboto-Bold.woff2);
}

@font-face {
  font-family: kanta;
  src: url(./Kanit-Regular.woff2;);
}

/* * {
  margin: 0;
}

html , body {
  width: 100%;
  height: 100%;
} */

nav {
  width: 100%;
  height: 12vh;
  /* background-color: green; */
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4vw;
  position: fixed;
  z-index: 99;
  margin-left: 2vw;
  margin-top: 3vw;
}

nav input {
  border: none;
  border-radius: 5px;
  width: 10vw;
  padding: 0.5vw 0.7vw;
}

nav img {
  width: 5.7vw;
  height: 11vh;
}

nav h1 {
  color: #fff;
  font-size: 0.9vw;
  text-transform: uppercase;
  font-weight: 700;
  font-family: ralebold;
  cursor: pointer;
}

video {
  width: 100%;
  position: fixed;
  height: 100%;
  object-fit: cover;
}

.main {
  position: relative;
  /* background-color: #00000028; */
}

.page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2.4vw;
  flex-direction: column;
  font-weight: 900;
  /* line-height: -3vw; */
  /* margin-bottom: -2vw; */
  /* background-color: #000; */
}

.page1 h1 {
  font-family: rob;
  text-transform: uppercase;
}

.page2 .about img {
  width: 10vw;
  height: 10vh;
  position: relative;
  top: 7vw;
  left: 75vw;
}

.page1 p {
  font-size: 1vw;
  width: 38vw;
  /* line-height: 1.2vw; */
  height: 10vh;
  /* background-color: green; */
  /* margin-bottom: 55vw; */
  position: relative;
  bottom: 5vh;
  font-family: kanta;
}

.page2 {
  width: 100%;
  height: 100vh;
}

.page1 .top {
  height: 40%;
  width: 100%;
  position: relative;
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
  flex-direction: column;
}

.slider {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 6vh;
  margin-bottom: 2vh;
}

.slider .slider_1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.slider h1 {
  display: inline-block;
  font-size: 5.9vw;
  font-weight: 900;
  font-family: rob;
  margin-right: 15px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #95c11e;
  color: transparent;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider h1:hover {
  color: #95c11e;
  font-family: rob;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.about {
  width: 100%;
  height: 75vh;
  /* background-color: cyan; */
}

.about h1 {
  text-align: center;
  margin-top: 5vh;
  color: #fff;
  font-family: rob;
  font-weight: 900;
  font-size: 3vw;
}

#about_pp {
  color: white;
  margin-top: 10vh;
  font-size: 1.5vw;
  padding: 0vw 10vw;
  text-align: left;
  position: relative;
  right: 4vw;
  font-family: kanta;
  padding-right: vw;
}

.exp_about {
  font-size: 1.3vw;
  font-family: kanta;
  border-radius: 11px;
  padding: 0.7vw 0.9vw;
  position: relative;
  left: 75vw;
}

.exp_about a {
  text-decoration: none;
  color: #000;
}

.exp_about i {
  margin-left: 0.4vw;
}

.page3 {
  width: 100%;
  height: 70vh;
}

#city {
  color: white;
  margin-top: 20vh;
  text-align: center;
  font-family: rale;
  font-size: 2.5vw;
}

#city_in {
  color: #ffffffa4;
  font-family: rale;
  font-weight: 400;
  text-align: center;
}

.boxes {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  /* padding: 2vw 1vw; */
  /* background-color: cyan; */
  position: relative;
}

.box_in {
  background-color: green;
  width: 12.5%;
  height: 30vh;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1vw 1.5vw;
  /* flex-direction: column; */
  /* position: relative; */
  /* position: relative; */
}

.box_in:nth-child(1) {
  background-image: url(https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/ff/f1/fc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box_in:nth-child(2) {
  background-image: url(https://devotionalyatra.com/wp-content/uploads/2022/06/annamalaiyar-temple-timings.jpg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box_in:nth-child(3) {
  background-image: url(https://th.bing.com/th?id=OIP.4Bp4a9bz02M9p8rB9KpexAHaE0&w=309&h=201&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box_in:nth-child(4) {
  background-image: url(https://media.gettyimages.com/id/1052037152/photo/red-fort-new-delhi-india-tricolor-flag.jpg?s=612x612&w=0&k=20&c=mMCnlyRDEfjdU6dWpqBaz5gwG4twf-ajObSBUXaYuiw=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box_in:nth-child(5) {
  background-image: url(https://th.bing.com/th?id=OSK.HEROJ23XzQTomRgbdTDRLuG5uexu1BvLtYuZSo8O0FsRwEY&w=312&h=200&c=15&rs=2&o=6&pid=SANGAM);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box_in img {
  width: 100%;
  height: 100%;
}

.box_in h1 {
  font-size: 1vw;
  color: #fff;
  font-family: ralebold;
  font-weight: 700;
  position: relative;

  /* top: 100%; */
}

.page4 {
  width: 100%;
  height: 100vh;
  background-color: cyan;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(https://www.holidify.com/blog/wp-content/uploads/2014/06/Khajuraho1.jpg);
}

.page_in {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  /* font-family: rale; */
}

.page_in #locate {
  font-size: 1.7vw;
  font-weight: 900;
  font-family: ralebold;
}

.page_in p {
  font-size: 1.1vw;
  font-weight: 500;
  color: #ffffffa2;
}

#map {
  width: 80%;
  height: 60vh;
  border-radius: 20px;
  margin-top: 2vw;
  margin-left: 8vw;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 4vw;
  /* color: white; */
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  font-family: ralebold;
  font-weight: 900;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page5 {
  width: 100%;
  height: 205vh;
  /* background-color: rgb(116, 116, 116); */
  background-image: url(https://t3.ftcdn.net/jpg/04/44/21/88/240_F_444218876_0i3qVkdulPxTlhSju6T6pI9tgqr0WtkJ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page5 .buts {
  width: 100%;
  height: 10vh;
  /* background-color: green; */
  /* padding: 1vw 2vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.buts button {
  background-color: orangered;
  border-radius: 10px;
  color: white;
  font-family: rale;
  font-size: 1.2vw;
  border: none;
  padding: 0.5vw 0.5vw;
}

.buts button:nth-child(1) {
  width: 5vw;
}

.lanes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.st {
  width: 20vw;
  height: 43vh;
  border-radius: 20px;
  background-color: red;
  margin: 10px;
  overflow: hidden;
}

.buts button a {
  text-decoration: none;
  color: #fff;
}

.st img {
  width: 100%;
  height: 100%;
}

.st img:hover {
  scale: 1.2;
  transition: 1s ease;
}

.page6 {
  width: 100%;
  height: 70vh;
}

.page6 h1 {
  text-align: center;
  color: white;
  font-family: ralebold;
}

.page6 .cit {
  width: 20vw;
  height: 40vh;
  /* background-color: red; */
  border-radius: 20px;
  margin-top: 4vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.in_cit {
  width: 100%;
  height: 10vh;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1.1vw;
}

.in_cit p {
  font-family: rale;
  color: white;
  font-weight: 800;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
  position: relative;
}

.cit:nth-child(1) {
  background-image: url(https://coder024.github.io/Indian-Culture/images/slider/delhi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cit:nth-child(2) {
  background-image: url(https://coder024.github.io/Indian-Culture/images/slider/mumbai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cit:nth-child(3) {
  background-image: url(https://coder024.github.io/Indian-Culture/images/slider/banglore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  width: 100%;
  height: 29vh;
  /* background-color: cyan; */
}

#school {
  font-size: 1.4vw;
  font-weight: 900;
}

#sch_name {
  font-family: ralebold;
  font-size: 1.3vw;
}

.data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vw 3vw;
  flex-direction: column;
  width: 70%;
  /* background-color: green; */
  height: 100%;
  color: white;
}

.school {
  /* background-color: green; */
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3vw;
}

#email {
  font-size: 1.4vw;
  font-weight: 900;
}

#deve {
  font-family: ralebold;
  font-weight: 900;
  font-size: 1.5vw;
  margin-left: 1.5vw;
}

#contact {
  width: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  height: 5vw;
  /* background-color: cyan; */
}

#em {
  font-family: ralebold;
  font-size: 1.3vw;
}
